:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}