.taskTitle {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.constructorContainer {
    height: 100%;
}

.wordGrid {
    flex: 1;
    padding: 0 16px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}