.catLogo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pageWrapper {
    position: relative;
}

.notification {
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 24px;
}

.notificationContent {
    position: relative;
    padding: 16px;
}
