@import '@/colors.scss';

.wrapper {
    font-family: "Ma Shan Zheng", cursive;
}

.sentenceWrapper {
    display: flex;
    gap: 8px;
    color: #0073e6;
}

.correct {
    color: #22c55e;
}

.incorrect {
    color: #ef4444;
}