@import '@/colors.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    button {
        height: 54px;
    }

    .backButton {
    }

    .nextButton {
        background-color: $primary-color;
    }
}

